<template>
    <div class="contact-container">
        <sidebar />

        <div class="contact">
            <h1> Contact us</h1> 
        </div> 
    </div>
</template>

<style scoped lang="sass">
    .contact-container
        display: flex
        flex-direction: row
        width: 100%
        height: 100%
        flex-grow: 1
    
</style>