<template>
    <div class="container">
        <!-- <shop /> -->
        <sidebar/>
        <router-view />
    </div>    
</template>

<script>
export default {
    data(){
        return{

        }
    },

    methods: {
        testBackend(){
            axios.get('/product').then(
                (response) => {
                    console.log(response);
                }
            )
        }
    }
}
</script>

<style lang="sass" scoped>
    .container
        width: 100%
        min-height: 100%
        display: flex
        background-color: #dae0e6

    h1
        text-align: center
</style>