<template>
    <div class="product-wrap">
        <div class="product">

            <img  src='/storage/assets/bush_test.jpg'>
            <span class='product-title'> {{product.name}} </span>
            <span> £20</span>
            <span class="product-info"> {{product.per_box}} - per box</span> 
            <div class="product-options"> 
                <span>buy</span>
                <router-link  tag="span" :to="`/shop/product/${product.id}`"> 
                    view
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['product'],
    data(){
        return{

        }
    }
}
</script>

<style lang="sass" scoped>

    span
        font-weight: regular

    .product-wrap
        flex-basis: 33.3333333%
        padding: 10px

    .product
        display: flex
        flex-direction: column
        justify-content: center
        padding: 5px 
        align-items: center
        width: 100%
        height: 100%
        background-color: white
        border: 1px solid #cccccc

    .product-title
        font-weight: bold
        font-size: 20px
        
    img
        width: 100%
        height: 187px
    
    .product-info
        padding: 5px
        margin: 10px

    .product-options
        display: flex
        justify-content: space-evenly
        align-items: center
        padding: 10px
        width: 100%
        margin: 5px
        font-weight: bold
        text-align: center

        span
            padding:5px


            // World's first example of a "russian doll" pattern in CSS
            // It's just children all the way down!
    .product > .product-options > span
        background-color: black
        color: white
        flex-basis: 20%
            

    
        
</style>
