<template>
    <div class="shopfloor-container"> 
        <product v-for="product in products" :key="`prod-${product.id}`" :product='product'/>
    </div>
</template>

<script>
export default {
    data(){
        return{
            
        }
    },
    computed:{
        products(){
            return this.$store.getters.products;
        }
    }

    
}

</script>

<style lang="sass" scoped>
    .shopfloor-container
        background-color: #dae0e6
        height:100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        
        padding: 5px
</style>