<template>
    <div class="shop-container">
        <shop-floor/>
    </div>
</template>

<script>
export default {
    data(){
        return{

        }
    },

    methods:{
        getProducts(){
            this.$store.dispatch('')
        }
    },

    mounted(){
         this.$store.dispatch('getProducts');
         console.log("test?")
    }
}
</script>

<style lang='sass' scoped>

.shop-container
    display: flex
    flex-direction: row
    width: 100%
    height: 100%
    flex-grow: 1
    background-color: #dae0e6

</style>