<template>
    <div class="sidebar-container">

        <span class="sidebar-header">

            <router-link to='/'>
                Shop 
            </router-link>
        </span>

        <span class="sidebar-header">

            <router-link to='/contact'>

                Contact us 
            </router-link>
        </span>

        <span class="sidebar-header"> About </span>
    </div>
</template>

<style lang="sass" scoped>
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap')

.sidebar-container
    font-family: 'Questrial' sans-serif
    font-size: 40px
    display: flex
    flex-direction: column
    min-height: 100%
    border-right: #cccccc 1px solid
    background-color: white
    min-width: 450px
    align-items: center

.sidebar-header
    margin: 10px 
    </style>