<template>
    <div v-if="product" class="prod-view-container"> 

        <div class="product-view">

            <img src='/storage/images/products/product_test.png' />
            <div class="product-info">

                <h1> {{product.name}} </h1>
                <p> {{product.description + product.description}} </p>
                
                <!-- 
                    contains all the additional info about the product.

                    Ideally the custom attributes used for filter/search
                    will show here as well.
                -->
                <div class="additional">

                    <ul> 
                        <li> Type {{product.type}}</li>
                        <li> cuttings per box {{product.per_box}} </li>
                        <li> size {{product.size}} </li>
                        <li> another attribute 10 </li>
                        <li v-for="(attribute,index) in product.attributes" :key="index">
                            {{attribute.name}}: {{attribute.value}}
                        </li>
                    </ul>
                </div>

                <span class="buy-button"> Add to cart </span>
            </div>
        </div>
        
        <product-suggest :product_id="id" />
    </div>

</template>

<script>
export default {
    props: ['id'],

    data(){
        return{
            show_product: false
        }
    },
    methods:{
        test(){
            axios.get('/test').then((res) => {
                console.log(res.data);
                
            });
        }
    },


    computed: {

        // Product will grab the product from the database if required now
        product(){
            return this.$store.getters.product_by_id(this.id);
        }
    }
}
</script>

<style scoped lang="sass">

    .product-view
        padding: 10px
        width: 100%
        min-height: 500px
        display: flex
        justify-content: space-around
        text-decoration: none

        img
            height: 60%
            width: auto  
        
        
    .prod-view-container
        display: flex
        flex-direction: column
        margin-top: 20px

    .product-info
        max-width: 50%
        max-height: 500px
        display: flex
        flex-direction: column

        .additional
            border: 1px solid #ebebeb
            text-align: left
            width: fit-content

            ul
                width: fit-content
                padding: 0px 40px 0px 40px

    .buy-button
        background: linear-gradient(to bottom,#f7dfa5,#f0c14b)
        width: fit-content
        padding: 5px
        margin-top: 20px
        font-weight: bold        
</style>