<template>
    <div class='suggest-container'>
        <h2> Suggested products </h2>
        <div class="suggested-list">
            <product v-for="suggested_item in suggested" :key="`prod-${suggested_item.product.id}`" :product="suggested_item.product"/>
        </div>
    </div>
</template>

<script>
export default {
    props: ['product_id'],

    data(){
        return{

        }
    },

    methods: {
        fetch_suggested_products(){
            
        }
    },

    computed: {
        suggested(){
            return this.$store.getters.suggested;
        }
    },

    mounted(){
        this.$store.dispatch('fetch_suggested_products',this.product_id);
    }


}
</script>

<style lang="sass" scoped>

        h2
            margin: 0px 0px 0px 20px
        .suggested-list
            display: flex
            flex-wrap: wrap
            justify-content: center

            
</style>


